<header>
    <div class="container">
        <div id="presentacion" >
            <h1>Soy Diego Rey</h1>
            <h2>Cambiante</h2>
            <nav>
                <ul>
                    <li>Ig</li>
                    <li>Whattsapp</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                </ul>
            </nav>
        </div>
    </div> 
    <div id="imagen" class="container">
        <div>
            <img src="https://picsum.photos/500/500" alt="foto_de_perfil">
        </div>
    </div>
</header>
