h1{
    font-size: 5em;
}

h2{
    font-size: 3em;
    margin: 1em 2em;
}

header  {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

div{
    margin-top: 12vh;
}

img{
    height: 88vh;
}

li{
    display: inline;
    margin: 0 2em;
    background-color: blue;
}

#imagen {
    align-self: center;
    width: auto;
}

#presentacion {
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    width: auto;
}