h1{
    font-size: 5em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}

h2{
    font-size: 3em;
    margin: 1em 2em;
}

header  {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

div{
    margin-top: 12vh;
}

img{
    height: 88vh;
}

li{
    display: inline;
    margin: 0 2em;
    text-align: center;
    font-size: 2em;
}

#imagen {
    align-self: center;
    width: auto;
}

#presentacion {
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    width: auto;
}