<h1 id="titulo">Experiencia</h1>
<h1 id="titulo">Trabajos</h1>
<div class="col-lg-2">
    <button class="btn btn-dark" type="button" routerLink="/nuevoT" *ngIf="isLogged">
        Nueva experiencia
    </button>
</div>
<div class="col-lg-11">
    <table class="table">
        <tbody>
            <tr *ngFor="let exp of experiencia">
                <td>{{exp.nombre}}</td>
                <td>{{exp.descExp}}</td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-light" routerLink="/editExp/{{exp.id}}">
                    <i class="bi bi-pencil-square"></i>Editar</button>
                </td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-danger" (click)="delete(exp.id)">
                    <i class="bi bi-trash"></i>Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>












<!--<div class="container" *ngFor="let exp of experiencia">
    <div class="grid-item" id="logo"><img src="https://picsum.photos/1080/1080" alt="Logo"></div>
    <div class="grid-item item" >{{exp.anoI}} - {{experiencia.anoF}}</div>
    <div class="grid-item item" >{{exp.nombre}}</div>
    <div class="grid-item item" >{{exp.descExp}}</div>
</div> -->