<div class="form-body" >
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Experiencia</h3>
                    <form class="requires-validation" novalidate (ngSubmit)="onCreate()">

                        <div class="col-md-12">
                           <input class="form-control" type="text" name="name" placeholder="Puesto" [(ngModel)]="nombre" required>
                           <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" type="text" name="descExp" placeholder="Descripcion"  [(ngModel)]="descExp" required></textarea>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>


                       <div class="col-md-12">
                          <input class="form-control" type="number" name="anoI" placeholder="Año de inicio" [(ngModel)]="anoI" required>
                           <div class="valid-feedback">Password field is valid!</div>
                           <div class="invalid-feedback">Password field cannot be blank!</div>
                       </div>

                       <div class="col-md-12">
                        <input class="form-control" type="number" name="anoF" placeholder="Año de finalización" [(ngModel)]="anoF" required>
                           <div class="valid-feedback">Password field is valid!</div>
                           <div class="invalid-feedback">Password field cannot be blank!</div>
                       </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
