img{
    width: 200px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin: 1em 10%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item{
    grid-column: 2/8;
}

#titulo {
    font-size: 2.5em;
    text-align: center;
    background-color: blue;
    color: white;
}

#logo{
    grid-row: 1/4;
}