<div class="form-body" >
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Habilidad</h3>
                    <form class="requires-validation" novalidate (ngSubmit)="onUpdate()">

                        <div class="col-md-12">
                           <input class="form-control" type="text" name="skill" placeholder="Habildad" [(ngModel)]="skill.skill" required>
                           <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="number" name="porcentaje" placeholder="Porcentaje" [(ngModel)]="skill.porcentaje" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                         </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>