<body>
    <div id="titulo">
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Habilidades <a routerLink="/nuevaSkill"
                *ngIf="isLogged"><i class="bi bi-plus-square"></i></a></h1>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="bi bi-star-fill"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
    <div class="container">
        <div class="grid-item" *ngFor="let skill of skill">
            <circle-progress
                [title]=[skill.skill]
                [showSubtitle]="false"
                [percent]="skill.porcentaje"
                [showUnits]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
            <div class="col-20" *ngIf="isLogged" id="botones">
                <button type="button" class="btn btn-danger"  (click)="delete(skill.id)">
                    <i class="bi bi-trash"></i>Borrar</button>
                <button type="button" class="btn btn-light" routerLink="/editSkill/{{skill.id}}">
                    <i class="bi bi-pencil-square"></i>Editar</button>
            </div>
        </div>
    </div>
</body>

