#titulo {
    font-size: 2.5em;
    text-align: center;
    background-color: blue;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    justify-content: space-around;
}