<h1 id="titulo">Habilidades</h1>
<div class="container">
    <div class="grid-item" *ngFor="let skill of skills">
        <circle-progress
            [title]=[skill.skill]
            [showSubtitle]="false"
            [percent]="skill.porcentaje"
            [showUnits]="false"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>