<div class="form-body" >
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Acerca de mi</h3>
                    <form class="requires-validation" novalidate (ngSubmit)="onUpdate()">

                        <div class="col-md-12">
                           <textarea class="form-control" type="text" name="acerca" placeholder="Acerca de mi" [(ngModel)]="persona.acerca" required></textarea>
                           <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



